.form-container{

    max-width: 360px;
    padding: 1rem;

    text-align: center;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

form svg{

    width: 7em;
    height: 7em;
    fill: white;

}

i{
    -webkit-text-stroke: 1px;
}

.table-container{
    max-height: 35em;
    overflow-y: scroll;
}

.table-container th{
    position: sticky;
    top: 0;
}