@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{

    --bs-body-font-family: 'Lato';
    
}

.form-container{

    max-width: 360px;
    padding: 1rem;

    text-align: center;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

form svg{

    width: 7em;
    height: 7em;
    fill: white;

}

i.bold{
    -webkit-text-stroke: 1px;
}

.table-container{
    max-height: 35em;
    overflow-y: scroll;
}

.table-container th{
    position: sticky;
    top: 0;
}

nav svg{

    display: none;
    width: 3em;
    height: 3em;
    fill: white;

}

.link-logout{

    display: block;

}

img{
    
    width: 10em;
    height: 10em; 

}

@media (min-width:1200px) {
    
    nav svg{

        display: block;

    }

    .link-logout{

        display: none;

    }

}